html,body{
  margin: 0;
  padding: 0;
  font-family: "游ゴシック";
}

/*
.main
bar以外の部分を指す
barにコンテンツが埋もれるのを防ぐためだけに存在している
*/
.main{
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50px;
  text-align: center;
  background-color: #ffffff;
}

/*
.content
中央揃えにするブロック（div）の総称
*/
.content{
  position: relative;
  margin: 0 auto;
}
